body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.option {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #e0e0e0;
}

.option img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

#result-container {
    margin-top: 20px;
}

#result {
    font-size: 18px;
    margin: 20px 0;
}